@forward "abstracts";
@use "abstracts" as a;
@use "bulma/sass" with (
    $black: a.$black,
    $black-bis: a.$black-bis,
    $black-ter: a.$black-ter,
    $grey-darker: a.$grey-darker,
    $grey-dark: a.$grey-dark,
    $grey: a.$grey,
    $grey-light: a.$grey-light,
    $grey-lighter: a.$grey-lighter,
    $grey-lightest: a.$grey-lightest,
    $white-ter: a.$white-ter,
    $white-bis: a.$white-bis,
    $white: a.$white,
    $orange: a.$orange,
    $yellow: a.$yellow,
    $green: a.$green,
    $turquoise: a.$turquoise,
    $cyan: a.$cyan,
    $blue: a.$blue,
    $purple: a.$purple,
    $red: a.$red,
    $text: a.$text,
    $link: a.$link,
    $primary: a.$primary,
    $info: a.$info,
    $success: a.$success,
    $warning: a.$warning,
    $danger: a.$danger,
    $light: a.$light,
    $dark: a.$dark,
    $colors: a.$colors,
);
//@forward "";
@use "components" with (
    $primary: a.$primary,
);
