/********************************************
*   Variable overrides and theme variables
*********************************************/
@use "sass:map";

@use "./../../abstracts" as a;

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

// oruga defines an extra secondary color
$secondary: #6c757d !default;

// alternative to focus-shadow-size
$active-shadow-size: 0 0 0.5em !default;

// Colors have moved to abstracts TODO : remove after discussion
// make the custom colors extandable by providing a new variable to override
//$custom-colors: () !default;

// Removing this part for many reasons. Basically the whole build will explode if we do this with top-level configuration due to circular dependencies and/or namespace collision
//@forward "bulma/sass/utilities/derived-variables" with (
//    // adding aditional colors to colors map
//    $custom-colors:
//        map.merge(
//            // merge our custom-colors with the overridable map
//            ("secondary": $secondary),
//            $custom-colors
//        )
//);
//
//@use "bulma/sass/utilities/derived-variables" as vars;
//
$sizes-map: (
    "small": a.$size-small,
    "normal": a.$size-normal,
    "medium": a.$size-medium,
    "large": a.$size-large,
) !default;
